public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*tailwindcss*
public-hoist-pattern[]=array.prototype.*
public-hoist-pattern[]=string.prototype.*
public-hoist-pattern[]=object.*
